/*For all elements*/
html
{
  background-color: black;
  height: 100%;
  background-image: url("../Images/space-min.gif");
  background-size: auto;
  background-repeat: repeat;
}
body
{
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  margin: auto;
}
/*Navgation edit*/
li#Navi
{
    padding-top: 3.3vh;
    padding-bottom: 3.3vh;
    margin: auto;
    margin-top: 0.5vh;
    text-align: center;
    /*background: rgba(1,5,19, 0.8);*/
    background: rgba(0,0,0, 1);
}
a#Navi
{
  text-decoration: none;
  color: white;
  text-shadow: 1px 2px 3px #f5f5f5;
  font-size: 4vw;
}
ul.NaviList
{
  list-style-type: none;
  display: inline-block;
  width: 100vw;
  margin:auto;
  margin-left: -40px;
}
li#Navi:hover
{
  background-color: Gray;
}
.active
{
  border-bottom: 3px solid white;
  padding-bottom: 4px;
}
/*Floating Navgation(header)*/
header
{
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}
/*MenuButton*/
div.Menu
{
  padding-top: 30px;
  margin: auto;
}
img#Menu
{
  width: 80px;
  height: 80px;
}
/*Connect page edit*/
.Artist
{
  text-align: center;
  font-size: 40px;
}
.BlakinkMedia
{
  padding-top: 50px;
}
.followUs
{
    padding-bottom: 50px;
}
img.Artistmedia
{
  height: 10%;
  width: 10%;
}
ul#ArtistSocialMedia
{
  display: inline-block;
  text-decoration: none;
}
a.Artistmedia
{
  padding-left: 16%;
}
.ArtistSocialMedia
{
  margin: auto;
  width: 70%;
  border-bottom: 2px solid white;
}
.followLinks
{
  margin: auto;
  width: 70%;
}
img.FOEmedia
{
  height: 10%;
  width: 10%;
  margin-left: 5vw;
}
ul#followLinks
{
  display: inline-block;
  text-decoration: none;
}
/*unavailable or coming (tour/merch) message*/
.MerchSection
{
  width: 100%;
  height: 100%;
  margin: auto;
}
img.ComingSoon
{
  margin-top: 15vh;
  width: 100%;
  height: 100%;
}
img.Quarantine
{
  margin-top: 15vh;
  width: 100%;
  height: 50%;
  vertical-align: middle;
}
/*footer changes*/
footer
{
  background: rgba(0,0,0, 1);
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
}
a.socialmedia
{
  margin-left: 5.5%;
}
.gif
{
  margin-right: -4.5%;
}
img.socialmedia
{
  height: 5%;
  width: 5%;
  margin-left: 3.5vw;
}
img.gif
{
  height: 3%;
  width: 3%;
  margin-left: 1px;
}
span#Author
{
  font-size: 2vw;
  padding-left: 10px;
}
